<section id="sideBar" class="sideBar contaner-fluid">
  <div class="profileSection container-fluid text-center">
    <img src="../../assets/rachit_memoji.png" alt=""> <span>Best of Luck!</span>
  </div>

  <div class="infoSection container-fluid">
    <div class="row">
      <div class="col-3 text-center qIcon d-flex justify-content-center">
        <div class="text-center">2</div>
      </div>
      <div class="col-9 qText">
        Question Not Visited
      </div>
    </div>

    <div class="row">
      <div class="col-3 text-center qIcon d-flex justify-content-center">
        <div class="text-center bg-danger">2</div>
      </div>
      <div class="col-9 qText">
        Question Not Answered
      </div>
    </div>

    <div class="row">
      <div class="col-3 text-center qIcon d-flex justify-content-center">
        <div class="text-center bg-success">2</div>
      </div>
      <div class="col-9 qText">
        Question Answered
      </div>
    </div>

    <div class="row">
      <div class="col-3 text-center qIcon d-flex justify-content-center">
        <div class="text-center bg-primary">4</div>
      </div>
      <div class="col-9 qText">
        Question Marked
      </div>
    </div>

    <div class="row">
      <div class="col-3 text-center qIcon d-flex justify-content-center">
        <div class="text-center bg-warning">5</div>
      </div>
      <div class="col-9 qText">
        Question Answered & Marked for Review
      </div>
    </div>
  </div>

  <div class="nonResponsiveDisclaimer text-center">
    <div style="font-weight:1.1em;">This demo is <span class="text-danger">not</span> mobile responsive.</div>
    <div>Please view the same on laptop/desktop for better view.</div>
    <div>The Timer is working. Believe me.</div>
  </div>


  <div class="bottomButton text-center">
    <button (click)="submit()">
      Submit Exam
    </button>
  </div>

</section>
